<ion-tabs>
    <ion-tab-bar slot="bottom" color="danger">
        <ion-tab-button tab="race">
            <ion-icon name="car"></ion-icon>
            <ion-label>Corridas</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="driver">
            <ion-icon name="contact"></ion-icon>
            <ion-label>Pilotos</ion-label>
        </ion-tab-button>
        
        <ion-tab-button tab="team">
            <ion-icon name="people"></ion-icon>
            <ion-label>Equipes</ion-label>
        </ion-tab-button>
    </ion-tab-bar>
</ion-tabs>
